<div class="container">
  <div style="text-align: center; font-family: 'Times New Roman',serif; font-size: 20px">
    <h1> <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
      Теоретичні дані
      розподілу <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
    </h1>

    <br>

    <hr>

    <dfn><b>Взаємний розподіл</b>, також відомий як логарифмічно рівномірний розподіл, є безперервний розподіл
      ймовірностей,
      який визначається, як правосторонній і обмежений мінімальним та максимальним значеннями.<br> Чим більше відношення
      максимального до мінімального значення, тим більше асиметричний вид набуває розподіл.</dfn><br><br>

    <hr>

    <h2>Характеристики взаємного розподілу</h2>
    <table border="1" cellpadding="6" cellspacing="0" align="center">
      <tr>
        <td>Параметри</td>
        <!--<td>0 < a < b, де a, b - дійсні числа</td>-->
        <td><%= image_tag 'parameters.png', width: 170, height: 40, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></td>
      </tr>
      <tr>
        <td>ФШІ(<i>функція щільності ймовірності</i>)</td>
        <td><%= image_tag 'PDF.png', width: 50, height: 90, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></td>
      </tr>
      <tr>
        <td>КФР(<i>кумулятивна функція розподілу</i>)</td>
        <td><%= image_tag 'CDF.png', width: 50, height: 90, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></td>
      </tr>
      <tr>
        <td>Математичне очікування</td>
        <td><%= image_tag 'average.png', width: 50, height: 90, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></td>
      </tr>
      <tr>
        <td>Мода</td>
        <td>а</td>
      </tr>
      <tr>
        <td>Медіана</td>
        <td><%= image_tag 'median.png', width: 40, height: 40, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></td>
      </tr>
      <tr>
        <td>Дисперсія</td>
        <td><%= image_tag 'dispersion.png', width: 140, height: 90, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></td>
      </tr>
    </table>
    <br>

    <hr>

    <h2> <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
      Інструкція по експлуатації
      програми <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
    </h2>

    <hr>

    <h4>Блок <b>Вхідні дані</b></h4>

      <hr>

    <p><%= image_tag 'input-data.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>
      <h4>У цьому блоці необхідно ввести характерні значення, які необхідні для коректного моделювання</h4>
    <p><%= image_tag 'input-data-2.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>


    <h4>Обмеження для даних наведені у таблиці</h4>
    <table border="1" cellpadding="6" cellspacing="0" align="center">
      <tr>
        <td><b>Параметр</b></td>
        <td><b>Обмеження</b></td>
      </tr>
      <tr>
        <td>Початок проміжку</td>
        <td>Цілі значення (> 0 та < 2000)</td>
      </tr>
      <tr>
        <td>Завершення проміжку</td>
        <td>Цілі значення (> 0 та < 2000)</td>
      </tr>
      <tr>
        <td>Кількість точок</td>
        <td>Цілі значення (> 5 та < 10000000)</td>
      </tr>
      <tr>
        <td>Кількість інтервалів розбиття</td>
        <td>Цілі значення (> 5 та < 1000)</td>
      </tr>
    </table>

    <h4>
      Якщо дані не було введено повністю и коректно, попередження про це не змусить себе довго чекати.<br><br>
      Приклад сповіщення у процесі введення даних:
      <%= image_tag 'input-data-warning.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
      <br><br>Приклад сповіщення після зберігання даних:
      <%= image_tag 'input-data-warning-2.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
      Після коректного введення всіх даних, можна перейти до результатів моделювання
      <%= image_tag 'input-data-3.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
    </h4>

    <hr>

    <h4>Блок <b>Функція щільності ймовірності розподілу</b></h4>

    <hr>

    <h5>У цьому блоці наводиться представлення функції щільності ймовірності в лінійному графіку.<br>
      Функція щільності ймовірності – це функція, значення якої в будь-якій заданій вибірці (або
      точці) у просторі вибірки (набір можливих значень, що приймаються випадковою величиною) можна інтерпретувати
      як
      таке, що забезпечує відносну ймовірність того, що значення випадкової величини буде близько до цієї
      вибірки.<br>
      На рисунку нижче наведений приклад моделювання функції щільності ймовірності на основі наступних даних:</h5>
    <table border="1" cellpadding="6" cellspacing="0" align="center">
      <tr>
        <td>Початок проміжку</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Завершення проміжку</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Кількість точок</td>
        <td>200</td>
      </tr>
    </table>

    <p><%= image_tag 'pdf-data.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>
    <h5>Варто зауважити, що при наведені курсору на графік моделювання, в правому верзньому куті з'являється кнопка
      можливості завантажити цей графік, як зображення у форматі png.<br>
      Також, при спрямування курсору на конкретну точку графіку можна побачити дані про її координати</h5>
    <p><%= image_tag 'pdf-data-2.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>

    <hr>

    <h4>Блок <b>Статистична перевірка випадкових величин</b></h4>

    <hr>

    <h5>У блоці наводиться характерне гістограмне представлення.<br>Звичайно,
      необхідно навести, що для статистичної перевірки випадкових величин був використаний метод гістограм.<br> Якщо
      на
      одному графіку представити означені гістограми,
      то візуальне порівняння гістограм дозволяє оцінити якість алгоритмів моделювання випадкової величини (був
      використаний метод Неймана).<br>
      Роз'яснення отриманих даних наступне:
      <ul>
        <li>Зелена гістограма - апроксимація взаємного розподілу;</li>
        <li>Синя та фіолетова гістограми одержані моделюванням випадковових значень та розрахунку статистичних оцінок
          щільності ймовірності.
        </li>
      </ul>
      На рисунку нижче наведений приклад статистичної перевірки випадкових величин на основі наступних даних:
    </h5>
    <table border="1" cellpadding="6" cellspacing="0" align="center">
      <tr>
        <td>Початок проміжку</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Завершення проміжку</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Кількість точок</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Кількість інтервалів розбиття</td>
        <td>20</td>
      </tr>
    </table>
    <p><%= image_tag 'statistics-1.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>
    <h5>Також можна окремо розглядати конкретну/конкретні гістограми, що наведено нижче:</h5>
    <p><%= image_tag 'statistics-2.png', width: 1300, height: 300, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>

    <hr>

    <h4>Блок <b>Інтегральні характеристики</b></h4>

    <hr>

    <h5> У цьому блоці наведені характерні інтегральні характеристики випадкової величини
      відповідні теоретичним значенням (зелений стовпчик) і значенням, отриманим в результаті статистичного аналізу результатів розрахунку (синій та фіолетовий стовпчик).
      На рисунку нижче наведений приклад інтегральних характеристик випадкової величини на основі наступних даних:
    </h5>
    <table border="1" cellpadding="6" cellspacing="0" align="center">
      <tr>
        <td>Початок проміжку</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Завершення проміжку</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Кількість точок</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Кількість інтервалів розбиття</td>
        <td>20</td>
      </tr>
    </table>
    <p><%= image_tag 'integral-par.png', width: 1300, height: 400, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></p>

    <hr>
  </div>
</div>