<%= form_with(model: reciprocal) do |form| %>
  <% if reciprocal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reciprocal.errors.count, "error") %> prohibited this reciprocal from being saved:</h2>

      <ul>
        <% reciprocal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :x, style: "display: block" %>
    <%= form.text_field :x %>
  </div>

  <div>
    <%= form.label :y, style: "display: block" %>
    <%= form.text_field :y %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
