<div id="<%= dom_id reciprocal %>">
  <p>
    <strong>X:</strong>
    <%= reciprocal.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= reciprocal.y %>
  </p>

  <p>
    <strong>Val n:</strong>
    <%= reciprocal.val_n %>
  </p>

  <p>
    <strong>N g:</strong>
    <%= reciprocal.n_g %>
  </p>

</div>
