<link rel="stylesheet" href="application.css">
<p style="color: green"><%= notice %></p>

<div style="font-family: 'Times New Roman',serif; font-size: 20px">
  <h1>Вхідні
    дані <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
  </h1>

  <hr>

  <div style="text-align: center;">
    <%= form_for :reciprocal, url: reciprocals_path do |form| %>
      <div class="alert alert-info">
        Початок проміжку:
        <%= form.number_field :x, in: 0.0..1000.0, step: 1, :class => "form_control form-control-md", :id => "x"%>
        Завершення проміжку:
        <%= form.number_field :y, in: 0.0..1000.0, step: 1, :class => "form_control form-control-md", :id => "y"%><br><br>
        Кількість точок:
        <%= form.number_field :val_n, in: 5.0..10000000.0, step: 1, :class => "form_control form-control-md" %>
        Кількість інтервалів розбиття:
        <%= form.number_field :n_g, in: 5.0..1000.0, step: 1, :class => "form_control form-control-md" %><br><br>

        <%= form.submit "Зберегти", :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <hr>

  <h1>Функція щільності ймовірності
    розподілу <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></h1>

  <hr>

  <div class="alert alert-primary">
    <%= line_chart [
                     {
                       name: "ФШІ", type: 'line', data: @pdf
                     }
                   ],
                   title: "Функція щільності ймовірності",
                   colors: ['brown'],
                   xtitle: "x",
                   ytitle: "P(x)",
                   download: { background: "#ffffff" }
    %>
  </div>

  <hr>

  <h1>Статистична перевірка випадкових
    величин <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></h1>

  <hr>

  <h4>Використання методу Неймана</h4>

  <hr>
  <div class="alert alert-success">
    <%= column_chart [
                       {
                         name: "Апроксимація взаємного розподілу", type: 'column', data: @p_k
                       },
                       {
                         name: "Перша серія моделювання", type: 'column', data: @series_one_neyman
                       },
                       {
                         name: "Друга серія моделювання", type: 'column', data: @series_two_neyman
                       }
                     ],
                     title: "Статистична перевірка випадкових величин (Метод Неймана)",
                     colors: ['green', 'blue', 'purple'],
                     xtitle: "x",
                     ytitle: "p(x)",
                     download: { background: "#ffffff" }
    %>
  </div>

  <hr>

  <h4>Використання методу Метрополісу</h4>

  <hr>
  <div class="alert alert-success">
    <%= column_chart [
                       {
                         name: "Апроксимація взаємного розподілу", type: 'column', data: @p_k
                       },
                       {
                         name: "Перша серія моделювання", type: 'column', data: @series_one_metropolis
                       },
                       {
                         name: "Друга серія моделювання", type: 'column', data: @series_two_metropolis
                       }
                     ],
                     title: "Статистична перевірка випадкових величин (Метод Метрополісу)",
                     colors: ['green', 'blue', 'purple'],
                     xtitle: "x",
                     ytitle: "p(x)",
                     download: { background: "#ffffff" }
    %>
  </div>

  <hr>

  <h4>Використання методу зворотної функції</h4>

  <hr>
  <div class="alert alert-success">
    <%= column_chart [
                       {
                         name: "Апроксимація взаємного розподілу", type: 'column', data: @p_k
                       },
                       {
                         name: "Перша серія моделювання", type: 'column', data: @series_one_reverse
                       },
                       {
                         name: "Друга серія моделювання", type: 'column', data: @series_two_reverse
                       }
                     ],
                     title: "Статистична перевірка випадкових величин (Метод зворотної функції)",
                     colors: ['green', 'blue', 'purple'],
                     xtitle: "x",
                     ytitle: "p(x)",
                     download: { background: "#ffffff" }
    %>
  </div>

  <hr>

  <h1>Інтегральні
    характеристики <%= image_tag 'ruby.jpg', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></h1>

  <hr>
  <div style="background: #DDDDF5">
    <div style="text-align: center;">
      <table border="1" cellpadding="6" cellspacing="0" align="center">
        <tr>
          <td colspan="2">&nbsp;</td>
          <td colspan="2"><b>Метод Неймана</b></td>
          <td colspan="2"><b>Метод Метрополіса</b></td>
          <td colspan="2"><b>Метод зворотної функції</b></td>
        </tr>
        <tr>
          <td><b>Інтегральні характеристики</b></td>
          <td style="background: #008000"></td>
          <td style="background: #0000FF"></td>
          <td style="background: #800080"></td>
          <td style="background: #0000FF"></td>
          <td style="background: #800080"></td>
          <td style="background: #0000FF"></td>
          <td style="background: #800080"></td>
        </tr>
        <tr>
          <td><b>Математичне очікування</b></td>
          <td><%= @average.round(5) %></td>
          <td><%= @average_series_one_neyman.round(5) %></td>
          <td><%= @average_series_two_neyman.round(5) %></td>
          <td><%= @average_series_one_metropolis.round(5) %></td>
          <td><%= @average_series_two_metropolis.round(5) %></td>
          <td><%= @average_series_one_reverse.round(5) %></td>
          <td><%= @average_series_two_reverse.round(5) %></td>
        </tr>
        <tr>
          <td><b>Дисперсія</b></td>
          <td><%= @dispersion.round(5) %></td>
          <td><%= @dispersion_series_one_neyman.round(5) %></td>
          <td><%= @dispersion_series_two_neyman.round(5) %></td>
          <td><%= @dispersion_series_one_met.round(5) %></td>
          <td><%= @dispersion_series_two_met.round(5) %></td>
          <td><%= @dispersion_series_one_reverse.round(5) %></td>
          <td><%= @dispersion_series_two_reverse.round(5) %></td>
        </tr>
        <tr>
          <td><b>Мода</b></td>
          <td><%= @mode.round(5) %></td>
          <td><%= @mode_series_one_neyman.round(5) %></td>
          <td><%= @mode_series_two_neyman.round(5) %></td>
          <td><%= @mode_series_one_metropolis.round(5) %></td>
          <td><%= @mode_series_two_metropolis.round(5) %></td>
          <td><%= @mode_series_one_reverse.round(5) %></td>
          <td><%= @mode_series_two_reverse.round(5) %></td>
        </tr>
      </table>
    </div>
  </div>
  <hr>
</div>

<!--<div id="reciprocals">
  <%# @reciprocals.each do |reciprocal| %>
    <%#= render reciprocal %>
    <p>
      <%#= link_to "Show this reciprocal", reciprocal %>
    </p>
  <%# end %>
</div>-->


<%#= link_to "New reciprocal", new_reciprocal_path %>

<script>
    document.getElementById("x").addEventListener('change', function () {
        let x = document.getElementById("x");
        let y = document.getElementById("y")

        y.min = +x.value;
    });
</script>
