<p style="color: green"><%= notice %></p>

<%= render @reciprocal %>

<div>
  <%= link_to "Edit this reciprocal", edit_reciprocal_path(@reciprocal) %> |
  <%= link_to "Back to reciprocals", reciprocals_path %>

  <%= button_to "Destroy this reciprocal", @reciprocal, method: :delete %>
</div>
